---
title: Home
pagename: home
keywords: Hermes Passer, Gládio Cítrico
description: My personal page for the programs i wrote.
show-comments: false

layout: default
---
{% include lookingforme.html %}

<h2>News</h2>
<div class="post-list">
{% for post in site.posts %}
	<div class="post">
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<p>{{ post.excerpt }} <a href="{{ post.url }}">(more)</a></p>
		<small>{{ post.date | date: "%B %e, %Y" }}</small>
		<small> {{ post.tags }}</small>
	</div>
{% endfor %}
</div>
