<p>Looking for me?</p>
<p>
	<a href="http://gladiocitrico.blogspot.com.br/">
		<img class="line" alt="Blog (in portuguese)"  title="Blog (in portuguese)" height="16" width="16" src="../images/favicon.ico"></img>
	</a>
	<a href="https://www.youtube.com/channel/UCqhu61a4NvbPKF5MIufsGlw">
		<img class="line" alt="YoutTube"  title="YoutTube" height="16" width="16" src="../images/social/yt.ico"></img>
	</a>
	<a href="https://twitter.com/HermesPasser">
		<img class="line" alt="Twitter"  title="Twitter" height="16" width="16" src="../images/social/tw.ico"></img>
	</a>
	<a href="https://forums.rpgmakerweb.com/index.php?members/hermespasser.102676/">
		<img class="line" alt="RPG Maker Web" title="RPG Maker Web" height="16" width="16" src="../images/social/rmw.ico"></img>
	</a>
</p>