<p><a href="https://github.com/hermespasser/hermespasser.github.io">See this website source</a></p>

<h3>General Software</h3>
<ul>		
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/tilecon">Tileset Converter MV</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/ramu">Ramu</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/ventura">Ventura</a></p></li>
</ul>

<h2>Scripts</h2>
<ul>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/unity-scripts">Unity Scripts</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/rb-scripts">Ruby Scripts</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/rgss-scripts">RGSS Scripts</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/mv-plugins">RMMV plugins</a></p></li>
</ul>

<h2>Manga Downloader & Otaku stuff</h2>
<ul>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/bakatsuki-extractor">BakaTsuki Extractor</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/hermesmangadownloader">Hermes Manga Downloader</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/mangafoxdownloader">MangaFox Downloader</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/mhdownloader">Manga Host Downloader</a></p></li>
</ul>

<h2>Screen Capture</h2>
<ul>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/screencapturer">Screen Capturer</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/simpleschooter">Simple Screen Shooter</a></p></li>
</ul>

<h3>Games & Others</h3>
<ul>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/devlusion">Dev'lusion</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/apathycloud">That Cloud Brought by the Apathy</a></p></li>
	<li><p><a href="{{site.url}}/{{site.baseurl}}p/other">Other projects</a></p></li>				
</ul> 
