<a href="https://github.com/hermespasser/hermespasser.github.io">See this website source</a>

<h3>General Software</h3>	
<ul>		
	<li><a href="{{site.url}}/{{site.baseurl}}p/tilecon">Tileset Converter MV</a></li>
	<li><a href="{{site.url}}/{{site.baseurl}}p/ramu">Ramu</a></li>
	<li><a href="{{site.url}}/{{site.baseurl}}p/ventura">Ventura</a></li>
</ul>

<h2>Scripts</h2> 
<ul>
	<!-- <li><a href="{{site.url}}/{{site.baseurl}}p/rb-scripts">Ruby Scripts</a></li> -->
	<li><a href="{{site.url}}/{{site.baseurl}}p/mv-plugins">RMMV plugins</a></li>
</ul>

<h2>Manga Downloader & Otaku stuff</h2> 
<ul>
	<li><a href="{{site.url}}/{{site.baseurl}}p/bakatsuki-extractor">BakaTsuki Extractor</a></li>
	<li><a href="{{site.url}}/{{site.baseurl}}p/hermesmangadownloader">Hermes Manga Downloader</a></li>
	<li><a href="{{site.url}}/{{site.baseurl}}p/mangafoxdownloader">MangaFox Downloader</a></li>
	<li><a href="{{site.url}}/{{site.baseurl}}p/mhdownloader">Manga Host Downloader</a></li>
</ul>

<h2>Screen Capture</h2> 
<ul>
	<li><a href="{{site.url}}/{{site.baseurl}}p/screencapturer">Screen Capturer</a></li>
	<li><a href="{{site.url}}/{{site.baseurl}}p/simpleschooter">Simple Screen Shooter</a></li>
</ul>

<h3>Games & Others</h3> 
<ul>
	<li><a href="{{site.url}}/{{site.baseurl}}p/devlusion">Dev'lusion</a></li>
	<li><a href="{{site.url}}/{{site.baseurl}}p/apathycloud">That Cloud Brought by the Apathy</a></li>
	<li><a href="{{site.url}}/{{site.baseurl}}p/other">Other projects</a></li>				
</ul> 
