header, aside, main, footer {
	background-color: #444444; 
	margin: auto;
}

img, picture, video, iframe, embed, canvas {
	max-width: 100%;
    display: block;
    margin: 0 auto;
}

body {
	background-image: url("../images/background.gif");
	color: white;
	font-family: Verdana, Geneva, sans-serif;
}

header {
	background-position: left bottom;
	background-repeat: 	 no-repeat;
	background-image: 	 url("../images/header.gif");
	background-position: 30 0; 
	height: 8.5em;
	width: 90%;
}

header a {
	margin: 0 1em 0 0; 
	color: white;
}

header a:hover { color: #cecece; }

header a:visited { color: #9e9e9e; }

header ul {
	position: relative;
	padding-top: 100px;
	padding-left: 100px;
}

header ul li {
	display: inline;
	list-style: none;
}

aside {
	margin-right: 5%;
	float: right;
	width: 19.99%;
}

aside ul {  padding: 0; }

aside ul li { list-style: none; }

main {
	margin-left: 5%;
	padding: 2%;
	width: 66.01%;
	float: left;
}

footer {
	text-align: center;
	margin-left: 5%;
	font-size: 1.1em;
	float: left;
	width: 90%;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
	color: #996464;
}

a:visited {
	text-decoration:none;
	color: #660000;
}

p {
	font-size: 0.8em;
 	font-family: Tahoma, Arial;
}

h1, h2, h3, h4{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 { font-size: 1.5em; }

h2 { font-size: 1em; }

.line {
	max-width: 100%;
    display: inline;
    margin: 0 auto;
}

/*
	@media screen and (max-width: 768px) {}
	@media screen and (max-width: 718px) {}
*/

@media screen and (max-width: 640px) {	
	body, header, main, aside, footer {
		margin: 0 0 0 0; 
		width: 100%;
	}
	
	aside { text-align: center; }
}

/* @media screen and (max-width: 520px) {} */